# catkin_make files
build_isolated/
devel/
devel_isolated/
el/
el_isolated/
install_isolated/

# RoboWare Studio files
.vscode

.cproject
.project
.pydevproject
cmake_install.cmake
build/
bin/
lib/
msg_gen/
srv_gen/
*.pyc
*~